@font-face {
  font-family: 'OpensansHebrew';
  src: url('../fonts/opensanshebrew-regular-webfont.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpensansHebrew';
  src: url('../fonts/opensanshebrew-bold-webfont.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpensansHebrew';
  src: url('../fonts/opensanshebrew-extrabold-webfont.ttf') format('truetype');
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "OpensansHebrew", Arial, Helvetica, sans-serif;
}
/*GENERAL STYLES*/
.bg-light-green {
  background-color: #8cc540;
}
.color-dark-green {
  color: #013b13;
}
.bg-dark-green {
  background-color: #013b13;
}



/*HEADER*/
header {
  min-height: 200px;
  position: relative;
}
header .basad {
  height: 50px;
}
header .logo {
  background: url('../img/logo.svg');
  background-repeat: no-repeat;
  height: 200px;
  width: 250px;
  max-width: 100%;
}
header .header-title {
  font-size: 50px;
  font-weight: 100;
  position: absolute;
  bottom: -10px;
}

/*MAIN*/
main {
  min-height: 400px;
  background: url('../img/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
main .main-wrapper {
  position: relative;
  min-height: 400px;
}
main .main-wrapper .main-title {
  font-size: 35px;
  font-weight: bold;
}
main .main-circle {
  position: absolute;
  right: 10%;
  top: 70%;
  height: 150px;
  width: 150px;
  background: url('../img/circle.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 30px;
  color: #fff;
}
main .main-circle p {
  width: 100px;
  height: 100px;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
}
/*FOOTER*/
footer {
  min-height: 300px;
}
footer .images-wrapper {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
footer .images-wrapper img {
  border: 2px #fff solid;
  border-radius: 25px;
}
footer .phone {
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 800;
}
footer .email {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
}

/*FORM*/
footer .form-wrapper .input-bg {
  border-radius: 19px;
  background: url('../img/input.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
